html {
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  overflow-x: hidden;
  background-color: transparent;
}
a {
  display: inline-block;
  text-decoration: none;
}
a.button {
  padding: 0.5rem 1rem;
  background: #121212;
  color: #fafafa;
  text-align: center;
}
a.button.primary {
  background: #36bae6;
  color: #e0e5eb;
}
header.rmenu {
  height: 3.5rem;
  width: 100%;
  background: #d6e9f5;
  padding: 0;
}
header.rmenuabout {
  background: #eaeaea;
}
header.rmenusaleforce {
  background: #c7dff0;
}
header.rmenuux {
  background: #fff;
}
header.rmenucont {
  background: #eaeaea;
}
header.rmenu .container {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}
header.rmenu .container > .logoicon img {
  margin: 0 0 0 20px;
  height: 28px;
}
input.hamburger-button {
  display: none;
}
input.hamburger-button ~ label {
  position: relative;
  padding: 0.25rem;
  width: 1.5rem;
  height: 1.25rem;
  margin: 20px 20px 0 0;
}
input.hamburger-button ~ label > div,
input.hamburger-button ~ label > div::before,
input.hamburger-button ~ label > div::after {
  content: "";
  position: absolute;
  top: 0.825rem;
  height: 0.125rem;
  width: 1.5rem;
  opacity: 1;
  background: #121212;
  -webkit-transition: 0.14s ease-in-out;
  transition: 0.14s ease-in-out;
}
input.hamburger-button ~ label > div::before {
  top: -0.5rem;
}
input.hamburger-button ~ label > div::after {
  top: 0.5rem;
}
header.rmenu .container .hamburger-button:checked ~ label > div {
  width: 0;
  background: rgba(18, 18, 18, 0);
}
header.rmenu .container .hamburger-button:checked ~ label > div::before {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  top: -0;
}
header.rmenu .container .hamburger-button:checked ~ label > div::after {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  top: -0;
}
header.rmenu .container .hamburger-button:checked ~ .menu {
  left: 0;
}
header.rmenu .container .menu {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: calc(-100vw - 3rem);
  width: 60%;
  background: #333;
  -webkit-transition: 0.22s ease-in-out;
  transition: 0.22s ease-in-out;
  height: 100vh;
  max-height: 100vh;
}
header.rmenu .container .menu nav {
  margin: 0;
}
header.rmenu .container .menu nav ul {
  margin-top: 30px;
}
header.rmenu .container .menu nav ul > li > a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 2.5rem;
  text-align: left;
  color: #fff;
  -webkit-transition: 0.14s ease-in-out;
  transition: 0.14s ease-in-out;
  border-bottom: none;
}
header.rmenu .container .menu nav ul > li > a:hover {
  color: #ffb11c;
  border-bottom: none;
}
header.rmenu .container .menu nav ul > li > a.active {
  color: #ffb11c;
  border-bottom: none;
}
header.rmenu .container .menu div.buttons {
  grid-area: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}
header.rmenu .container .menu div.buttons > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin: 0.5rem;
}
header.rmenu .container .menu div.buttons a.button {
  background: #1e3f53;
  color: #fafafa;
  text-align: center;
  padding: 10px 20px;
  border-radius: 3px;
}
@media only screen and (min-width: 680px) {
  header.rmenu {
    height: 6.5rem;
    border-bottom: none;
  }
  header.rmenu .container {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: none;
  }
  input.hamburger-button ~ label {
    display: none;
  }
  header.rmenu .container .menu {
    z-index: unset;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
  }
  header.rmenu .container .menu::after {
    display: none;
  }
  header.rmenu .container .menu nav ul {
    justify-content: center;
  }
  header.rmenu .container .menu nav ul > li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  header.rmenu .container .menu nav ul > li > a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 1040px) {
  header.rmenu {
    height: 3.5rem;
  }
  header.rmenu .container .menu nav ul {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  header.rmenu .container .menu nav ul > li {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }
  header.rmenu .container .menu nav ul > li > a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 0 10px;
    margin: 21px 28px 0 0;
  }
}
